@import 'variables';
@charset "utf-8";

@media (max-width: 1600px){
}
@media (max-width: 1199px){
}
@media screen and (max-width: 991px) {
}
@media (max-width: 350px){
}
@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}